<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users followed by {{name}}</title>
    <link rel="shortcut icon" href="">
    <style type="text/css">
        a:link {
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>

<h1 style="font-size:130%; font-family:Verdana, sans-serif;">Users followed by {{name}}</h1>

<table>
    {% for i in range(num_tweets) %}
    <tr>
        <td align=center width="80"><img src={{followers_list[i]['image']}}></td>
        <td style="font-size:70%; font-family:Verdana, sans-serif">
            <a href="https://twitter.com/{{followers_list[i]['screen_name']}}">{{followers_list[i]['name']}}</a><br>
            {{followers_list[i]['followers']}} followers<br>
            Since {{followers_list[i]['created']}}
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
